body {
  background-color: #ffbf9b;
}

.centered {
  background-color: #b83f87;
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
